<nav class="navbar navbar-expand-sm bg-light">
  <div class="container">
    <div class="nav-left">
      <i class="bx bx-menu" id="sidebar-open"></i>
      <a class="navbar-brand" href="#">
        <span class="nav-image">
          <img src="/assets/content/upload/<%= avatar %>" alt="" />
        </span>
      </a>
      <form class="d-flex search-form">
        <div class="search-box-container">
          <i class="bx bx-search search-icon"></i>
          <input
            id="search-box"
            class="search-box form-control me-2"
            type="text"
            placeholder="Tìm kiếm vật tư và thiết bị" />
        </div>
        <button class="btn btn-outline-info ms-1">Search</button>
      </form>
    </div>
    <button class="btn-out btn btn-outline-danger">
      <a class="btn" href="/">Đăng xuất</a>
    </button>
  </div>
</nav>
